body {
    background-color: #424141;
    color: #fff;
}

.app {
    height: 90vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.app-container {
    height: 500px;
    background-color: #D8D8D8;
    width: 400px;
    border-radius: 10px;
}

.app-container header {
    color: rgb(0, 0, 0);
}

.header-component {
    @apply text-center;
}

.header-component h1 {}

.input-component {
    @apply flex justify-center;

}

.input-component input {
    width: 200px;
    height: 20px;
    margin: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    outline: none;
}

.list-component {

    height: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.list-item {
    height: 250px;
    width: 300px;
    background-color: #fff;
    border-radius: 15px;

}

.list-item li {
    color: black;
}

.delete-btn {
    width: 100%;
    text-align: center;
}